
<% if current_user %>
  <h2>Good Afternoon <%=current_user.email %>!</h2>
<% else %>
  <h2>Good Afternoon!</h2>
<% end %>

<p>Where would you like to dine tonight?</p>

<h1>Restaurants</h1>


<% @restaurants.each do |restaurant| %>
<h3><%= link_to("#{restaurant.name}", restaurant_path(restaurant)) %></h3>
<%end %>
